:root{
  --primary: #5043FF;
}

body {
  background-color: #ffffff;
  margin:0;
  padding:0;
  font-family: 'Futura PT';
}

p {
  font-size: 16px;
  line-height: 21px;
  margin:0px;
}

/* Start Global css */
.preloader {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

a {
  text-decoration: none;
  color:#333;
  cursor: pointer;
}
a:hover {
  color: var(--primary);
}

h1,h2,h3,h4,h5 {
  margin:0;
  padding:0;
  font-family: 'Futura PT';
}

a.select-offer-btn {
  display: block;
  text-align: center;
  padding: 14px;
  color: #fff;
  font-size: 1.375rem;
  line-height: 1;
  font-weight: 500;
}
.modal a.select-offer-btn {
  margin-top: 30px;
}
.select-offer-btn {
  background: linear-gradient(270.05deg, #00F2AD -12.43%, #6145FF 18.02%, #8C4AFF 72.32%, #C350FF 109.87%);
}
main {
  width: 1024px;
  margin: 40px auto;
}
h2.section-title {
  text-align: center;
  margin-bottom: 80px;
  font-size: 64px;
  line-height: 70px;
  font-family: 'Brandbe';
  font-weight: bold;
  color: #01040C;
}
/* End Global css */

/* Start Slider css */
.slick-slide {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.slick-dots li.slick-active button:before {
  color: #00F2AD !important;
}
.slick-dots {
  top: -40px !important;
  bottom: unset !important;
}

.slick-dots li button:before {
  font-size: 15px !important;
}
/* End Slider css */

/* Start Popup css */
button.close {
  background: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.popup-content {
  background: transparent !important;
  border: 0 !important;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-content .modal {
  border: 3px solid #01040C;
  padding: 30px;
  border-radius: 15px;
  background-color: #ffffff;
}
.popup-content .header {
  margin-bottom: 18px;
  font-size: 21px;
  font-weight: 800;
  line-height: 24px;
}
.content p {
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 15px;
}

.service-item {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  min-height: 270px;
  justify-content: space-between;
}
.service-item h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  padding-left: 20px;
  padding-right: 20px;
}
.learn-more-btn {
  background: transparent;
  border: none;
  font-size: 1.75rem;
  line-height: 1.4;
  cursor: pointer;
  font-family: 'Futura PT';
  font-weight: 300;
  margin-top: -40px;
}
.learn-more-btn:hover {
  color: var(--primary);
}
/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

/* End Popup css */

/* Start Not Found css */
.not-found {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.not-found img { 
  width: 50%;
}

.not-found h1 {
  margin: 20px 0px;
}
/* End Not Found css */

/* Start Steps form css */
.form-bg {
  background: url(../public/images/bg.jpg) no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  left: 0;
  top: 0;
}

.ccform {
  width: 400px;
  min-height: 570px;
  background-color: #ffffff;
  padding: 40px 40px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
p.you-selected {
  font-weight: 100;
  font-size: 18px;
}

p.ccfrom-small-title {
  font-size: 18px;
  line-height: 24px;
  margin: 0px;
  font-weight: 500;
  font-family: 'Futura PT';
}
span.required_star {
  color: #00F2AD;
}
p.congratulations-description {
  font-weight: 100;
  font-size: 18px;
  line-height: 26px;
}
#offersubmit h5 {
  font-size: 16px;
  font-weight: 500;
}

label.form-label {
  color:#01040C;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Futura PT';
}

#offersubmit {
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-control {
  width: 100%;
  display: block;
  padding: 10px;
  text-align: center;
  border: 0px;
  box-sizing: border-box;
  margin-top: 15px;
  border-bottom: 1px solid #01040C;
}

h2.package-name {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 35px;
}
a.change-pacage {
  margin-bottom: 40px;
  display: block;
  font-size: 18px;
  font-weight: 100;
}

.btn-submit {
  width: 100%;
  border: 0px;
  padding: 12px;
  color: #fff;
  font-size: 19px;
  line-height: 21px;
  margin-top: 40px;
  cursor: pointer;
  font-family: 'Futura PT';
}
.field-row {
  margin-top: 25px;
}
/* End Steps form css */

/* Start featured css */
.featured-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  grid-gap: 25px;
}
.featured-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 25px;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 5%);
}
.claim-offer {
  width: 350px;
  margin: 60px auto;
}
.featured-item p {
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
}
.featured-item img {
  width: 45px;
  height: 45px;
}
/* End featured css */

/* Start Social share icon */

.social-share {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.social-share .fa {
  padding: 20px;
  font-size: 30px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-share .fa:hover {
    opacity: 0.7;
}

.social-share .fa-linkedin {
  background: #007bb5;
  color: #ffffff;
}
.social-share .fa-whatsapp {
  background: #25d366;
  color: #ffffff;
}
.social-share .fa-envelope {
  background: #e02f2f;
  color: #ffffff;
}


/* End Social share icon */


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

}

/* xs */
@media (max-width: 768px) {

  main {
    width: 100%;
    /* margin: 50px auto; */
    /* margin-bottom:0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
    /* height: 100vh; */
    padding-bottom:15px;
  }

  h2.section-title-service {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .claim-offer {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
  }
  .form-bg {
    background: #ffffff;
  }
  .ccform {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
  }
  .popup-content {
    width: 80%;
    box-sizing: border-box;
  }
  .content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

  .featured-area {
    display: block;
    padding: 0px 20px;
  }
  .featured-item {
      padding: 0px;
      margin: 0px;
      margin-bottom: 30px;
      box-shadow: none;
  }

  #offersubmit{
    bottom:0px;
  }

  /* .claim-offer, .featured-area, h2.section-title-service {
    margin-top:auto;
  } */

}


@media (min-width: 768px) and (max-width: 991px) {
  main {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1035px) {
  .ccform {
    margin-left: calc(100vw - 95vw);
  }
}